<mat-card style="width:1000px;height:500px;position:absolute;top:0;bottom: 0;left: 0;right: 0;margin: auto">
  <mat-card-content>
    RSA<br>
    <mat-form-field>
      <mat-label>Text de criptat</mat-label>
      <input matInput [(ngModel)]="toEncryptRSA">
    </mat-form-field>
    <button mat-raised-button style="margin-left:10px" color="primary" (click)="RSAEncrypt()">Criptează</button><br>
    {{encryptedRSA}}<br>

    <mat-form-field>
      <mat-label>Text de decriptat</mat-label>
      <input matInput [(ngModel)]="toDecryptRSA">
    </mat-form-field>
    <button mat-raised-button style="margin-left:10px" color="primary" (click)="RSADecrypt()">Decriptează</button><br>
    {{decryptedRSA}}<br>

    RC4<br>
    <mat-form-field>
      <mat-label>Cheie</mat-label>
      <input matInput [(ngModel)]="RC4key">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Text de decriptat</mat-label>
      <input matInput [(ngModel)]="toEncryptRC4">
    </mat-form-field>
    <button mat-raised-button style="margin-left:10px" color="primary" (click)="RC4Encrypt()">Criptează</button><br>
    {{encryptedRC4}}<br>

    <mat-form-field>
      <mat-label>Text de decriptat</mat-label>
      <input matInput [(ngModel)]="toDecryptRC4">
    </mat-form-field>
    <button mat-raised-button style="margin-left:10px" color="primary" (click)="RC4Decrypt()">Decriptează</button><br>
    {{decryptedRC4}}<br>
  </mat-card-content>
</mat-card>